@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

ul, ol {
  list-style-type: none;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  position: relative;
  /* display: flex; */
  -webkit-align-items: center;
  /* height: 100px; */
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo__container {
  position: relative;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  /* z-index: 20; */
}

.logo img {
  height: 100%;
  background: white;
}

.list {
  display: flex;
  align-items: center;
}

.list:hover .list-ico {
  border-width: 1px;
}

.list-ico {
  width: 6px;
  height: 6px;
  border-left: 0.5px solid black;
  border-bottom: 0.5px solid black;
  transform: rotate(-45deg);
  margin-left: 5px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  font-weight: 300;
}

nav li {
  position: relative;
  margin: 0 15px;
}

nav li:first-child {
  margin-left: 0;
}

nav li:hover {
  text-decoration: underline;
}

.social {
  /* height: 100%; */
  display: flex;
  align-items: center;
}

#instagram {
  height: 30px;
  width: 30px;
}

#vk {
  width: 40px;
  height: 40px;
  margin: 0 7px 0 10px;
}

#telegram {
  width: 34px;
  height: 34px;
}

.line {
  position: relative;
  height: 4px;
  width: 100%;
  background-color: #005EAE;
  /* border-radius: 2px; */
}

.slider {
  position: relative;
  width: 100%;
  margin: 20px 0;
}

.slider__container {
  position: relative;
  display: flex;
  align-items: flex-center;
  height: 100%;
  height: 370px;
  min-height: 100px;
  max-height: 370px;
}

.slider__item {
  position: absolute;
  visibility: hidden;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s;
}

.active-slide {
  visibility: visible;
  opacity: 1;
}

.slider img {
  width: 100%;
}

.slide-text {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  color: #005EAE;
  font-size: 22px;
  font-weight: 600;
}

.slide-2 {
  left: 0;
  top: 30px;
}

.slide-3 {
  right: 0;
  top: 30px;
}

.slide-4 {
  right: 0;
  top: 30px;
}

.slide-5 {
  right: 0;
  bottom: 50px;
}

.switches {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 14px;
  display: flex;
}

.switch {
  height: 10px;
  width: 10px;
  background: white;
  border-radius: 50%;
  margin: 3px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.active-switch {
  background: #005EAE;
  border: 1px solid white;
}

.btns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btn {
  height: 60px;
  width: 370px;
  color: white;
  background-color: #005EAE;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover,
.social>*:hover {
  opacity: .8;
}

.china {
  width: 220px;
  background-color: #AE0000;
}

.info {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 65px 0;
}

.info .title-skif {
  color: #525252;
  font-size: 18px;
}

.info-list-btns {
  height: 100%;
}

.info-list-btns ul {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 16px;
  color: #525252;
}

.info-list-btns li {
  position: relative;
  cursor: pointer;
}

.info-list-btns li:nth-child(2) {
  margin: 0 30px;
}

.info-list-btns li:hover {
  text-decoration: underline;
}

.open-info {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 5;
  height: auto;
  background: #ffffff;
  width: 350px;
  text-align: center;
  top: 100%;
  font-size: 15px;
  font-weight: 200;
  padding: 5px;
  padding-top: 10px;
  box-shadow: 0 2px 2px 0 rgb(194, 194, 194);
}

.student-info { left: -140px; }
.schoolchild-info { left: -130px; }
.employee-info { left: -160px; width: 400px;}

.student-info-btn:hover .student-info,
.schoolchild-info-btn:hover .schoolchild-info,
.employee-info-btn:hover .employee-info {
  display: flex;
}

.open-info li {
  width: 100%;
  padding: 3px 0;
  margin: 0;
}

.open-info li:hover {
  text-decoration: none;
  background-color: #d3eaff;
}

.open-info .t-info:hover {
  background-color: white;
}

.open-info span {
  display: block;
  font-size: 16px;
  color: black;
  font-weight: 400;
  cursor: auto;
  /* margin: 7px 0; */
}

.open-info hr {
  width: 100%;
  margin: 5px 0;
  color: #e1f0fc;
}

.content {
  /*  */
}

.main-blocks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  grid-template-rows: repeat(3, auto);
  row-gap: 20px;
  grid-template-areas:
    "A B"
    "A C"
    "D D"
}

.skif-info {
  grid-area: A;
}

.skif-school {
  grid-area: B;
}

.skif-mag {
  grid-area: C;
}

.new {
  position: relative;
  max-width: 490px;
  display: flex;
  flex-direction: column;
  background: #fcfcfc;
}

.new::after {
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: 5px;
  background: #005EAE;
}

.title {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #2F2F2F;
}

.title,
.descr {
  text-align: justify;
  padding: 0 16px;
}

.title a {
  color: #005EAE;
}

.descr {
  color: #2F2F2F;
  font-size: 15px;
  margin: 12px 0;
}

.request {
  width: 230px;
  height: 44px;
  margin-left: 16px;
  margin-bottom: 20px;
}

.more {
  color: #005EAE;
  font-size: 15px;
  position: absolute;
  right: 16px;
  bottom: 0px;
  margin-bottom: 10px;
}

.skif-achievements {
  max-width: 1000px;
  width: 100%;
  margin-top: 60px;
}

.skif-achievements .title {
  text-align: center;
}

.achievements {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skif-achievements .block {
  max-width: 490px;
  height: 426px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.mini-news {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 80px;
  flex-wrap: wrap;

}

.mini-new {
  max-width: 315px;
}

.mini-new .title {
  margin-bottom: 20px;
}

.align-left {
  text-align: left;
}

.links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  flex-wrap: wrap;
}

.links-block {
  position: relative;
  background: #fcfcfc;
  max-width: 490px;
  font-weight: 200;
  padding: 10px;
  font-size: 15px;
}

.links-block::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: #005EAE;
}

.links-block ul {
  margin-top: 20px;
}

.links-block li {
  margin-bottom: 5px;
}

.links-block .l-title {
  color: #2F2F2F;
  font-weight: 500;
  margin-bottom: 10px;
}

.links-block a {
  color: #005EAE;
}

.links-block a:hover {
  opacity: 0.85;
}

footer {
  width: 100%;
  height: 70px;
  background: #005EAE;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: white;
  padding: 0 20px;
  margin-top: 80px;
}

.about-us {
  height: 0;
  visibility: hidden;
  position: absolute;
  /* bottom: ; */
  top: 100%;
  left: -115px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 5;
  width: 280px;
  background: white;
  font-size: 15px;
  padding: 10px 0;
  box-shadow: 0px 2px 2px 0px rgb(136, 136, 136);
}

.about-us li {
  margin: 0;
  margin: 3px 0;
}

.about-us hr {
  width: 100%;
  margin: 5px 0;
  color: #cbddec;
}

.about-us-btn:hover .about-us{
  visibility: visible;
  height: auto;
}

.burger {
  display: none;
}

.burger-btn {
  width: 45px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  right: 30px;
  top: 70px;
}

.burger-btn div {
  position: relative;
  width: 100%;
  height: 6px;
  background: #005EAE;
  border-radius: 2px;
  z-index: 200;
}

.burger-menu {
  width: 80vw;
  position: absolute;
  right: 0;
  background: white;
  height: 100vh;
  z-index: 100;
  top: 0;
  display: flex;
  flex-direction: column;
  padding: 80px 0;
  visibility: hidden;
  right: -80vw;
  transition: .3s;
}

.visible {
  visibility: visible;
  right: 0;
}

.burger-menu a {
  position: relative;
  font-size: 18px;
  height: 50px;
  border-top: 1px solid #dfdfdf;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: white;
}

.burger-menu a:hover {
  background: #c1e2ff;
}

.burger-menu > *:not(ul) {
  z-index: 5;
}

.burger-menu .bg-top {
  position: absolute;
  width: 100%;
  height: 80px;
  background: white;
  z-index: 5;
  top: 0;
  left: 0;
}

.burger-about-us {
  position: relative;
  top: -100%;
  flex-direction: column;
  text-align: center;
  font-size: 18px;
  /* height: 0; */
  visibility: hidden;
  transition: top .3s;
  z-index: 1;
}

.about-us-visible {
  visibility: visible;
  top: 0;
}

.burger-about-us li {
  margin: 0;
  padding: 0 10px;
}

@media screen and (max-width: 1000px) {
  .container {
    padding: 0 10px;
  }
  .slider__container {
    height: 100%;
  }
  .slider {
    height: 37vw;
  }
  .btn:not(.request, .china){
    width: 49%;
  }
  .china {
    width: 100%;
    margin-top: 8px;
  }
  .title-skif {
    display: none;
  }
  .info {
    justify-content: center;
  }
  .main-blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skif-achievements {
    max-width: 490px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .achievements {
    justify-content: center;
  }
  .mini-news {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .mini-new {
    min-width: 490px;
    margin-bottom: 20px;
  }
  nav {
    flex-direction: column-reverse;
  }
  .links {
    margin-top: 20px;
    justify-content: center;
  }
  .links-block:nth-child(2) {
    margin-top: 20px;
  }
  header {
    padding: 0;
  }
  .slide-text {
    font-size: 18px;
  }
  .skif-mag {
    padding-bottom: 20px;
  }
  footer {
    height: auto;
    flex-direction: column-reverse;
    font-size: 14px;
    padding: 10px 10px;
    text-align: center;
  }
  footer > *:nth-child(2) {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 750px) {
  .btn:not(.request) {
    width: 100%;
    margin-top: 8px;
  }

  nav {
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: center;
    z-index: 19;
  }

  nav > ul {
    display: none;
  }

  .burger {
    display: block;
  }

  header .container {
    display: flex;
    flex-direction: column-reverse;
    /* padding-top: 20px; */
  }
  .info {
    position: relative;
    margin-bottom: 20px;
  }
  .info-list-btns li {
    position: static;
  }
  .open-info {
    width: 100%;
    left: 0;
  }
  .slider {
    display: none;
  }
  header {
    padding-top: 55px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 500px) {
  .new, .mini-new {
    min-width: auto;
    max-width: none;
    width: 100%;
  }
  .achievements img {
    width: 100%;
  }
  .skif-achievements .block{
    min-height: auto;
    height: auto;
    justify-content: flex-start;
  }
}


